*{
	font-size: small;
	font-family: helvetica;
}

h1 {
	color: green;
	font-size: xx-large;
	
}

h2 {
	color: red;
}

h3 {
	color: rgb(1, 1, 1);
}

html {
	background-color: lightgreen;
}

.button {
	width: 100px;
	/*color: #0090E0;*/
	background: green;
	color: white;
	border:none;
	cursor: pointer;
	font-weight: bolder;

}

